body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.raf {
  width: 100%;
  border-collapse: collapse;
}

.raf td,
.raf th {
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 15px;
  text-align: center;
}

.raf th {
  background-color: rgb(190, 253, 232);
}

tr.nobold > th {
  font-weight: normal;
}

td,
th {
  padding: 10px;
  padding-bottom: 15px;
}

.units {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(184, 238, 220);
}

tr:nth-child(odd) {
  background-color: rgb(243, 216, 180);
}

td.units:first-child {
  text-align: right;
}

@media screen and (max-width: 992px) {
  table {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  table thead {
    display: none;
  }

  .raf,
  .raf tbody,
  .raf tr,
  .raf td {
    display: block;
    width: 100%;
  }

  .raf tr {
    margin-bottom: 0.5rem;
  }

  .raf td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    font-size: 1rem;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  table {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  table {
    font-size: 0.7rem;
  }
}
